@charset "UTF-8";


.toggle {
  width: 300px;
  height: 50px;
}

.title-on {
  display: none;
  width: 300px;
  height: 50px;
  background-image: url(".png");
}

.title-off {
  width: 300px;
  height: 50px;
  background-image: url("https://placehold.jp/dddddd/333333/300x50.png");
}

html{

	margin:0;
	padding:0;

}

/*ヘッダーCSS*/

ul{

	margin-top:33px;

}

li{


	list-style-type:none;
	display:inline;
	font-size:18px;

}


.list1{

	margin-left:50px;
	margin-right:70px;

}

.list2{

	margin-right:140px;

}


.box{

		display:flex;
}


li a{

	text-decoration:none;
}


a:link{

	color:#5D99FF;

}

a:visited{

	color:#5D99FF;

}

a:hover{

 	text-decoration:underline;

}



/*フッターCSS*/

.footer{


	display:flex;
	margin-top:30px;



}

.copyright{

	margin-left:30px;

}

.footerLogo{

	margin-left:480px;

}



/*マイページのCSS*/
.whole{

		display:flex;
}









