@charset "UTF-8";


.toggle {
  width: 300px;
  height: 50px;
}

.title-on {
  display: none;
  width: 300px;
  height: 50px;
  background-image: url(".png");
}

.title-off {
  width: 300px;
  height: 50px;
  background-image: url("https://placehold.jp/dddddd/333333/300x50.png");
}

html{
	margin:0;
	padding:0;
}

body{
	background-color:#f8f8ff
}

.errMsg{
	color:red;
}



/*ヘッダーCSS*/

.logo{
	margin-top:10px;
	margin-left:40px;
}

ul{
	margin-top:40px;
}

li{
	list-style-type:none;
	display:inline;
	font-size:18px;
}

.list1{
	margin-left:50px;
	margin-right:70px;
}

.list2{
	margin-right:140px;
}

.box{
		display:flex;
}

li a{
	text-decoration:none;
}

a:link{
	color:#5D99FF;
}

a:visited{
	color:#5D99FF;
}

a:hover{
 	text-decoration:underline;
}



/*フッターCSS*/

.footer{
	display:flex;
	margin-top:30px;
}

.copyright{
	margin-left:30px;
}

.footerLogo{
	margin-left:480px;
}

/*ログイン画面CSS*/

/*新規登録画面CSS*/

/*PW再設定画面CSS*/


/*マイページのCSS*/


.whole{
	display:flex;

}

h2{
	margin-top:70px;
	margin-left:80px;

}

.subfavorite{
	margin-top:70px;
}

.title2{
	font-size:21px;
	margin-bottom:40px;
}

.image2,.image3,.image4{
	width:328px;
	height:80px;
}

.information{
	margin-top:20px;
	margin-left:110px;
}



/*ノートアップロードボタン*/

.image1{
	margin-top:20px;
	margin-left:23px;
}

/*お気に入り一覧ボタン*/

.image3{
	margin-left:3px;
}

/*ログアウトボタン*/
.image4{
	margin-top:70px;
	margin-right:9px;
}




/*ノート表示（マイノート、お気に入り等々）の共通CSS*/
/*情報 = infomation、ということでノート情報については「inf-○○」でクラス名つけてます*/

.notes{
	/*margin-left:60px;*/
	margin-top:20px;
	background-color:white;
	border-collapse:collapse;
}

.menu{
	margin-right:40px;
}

.inf-year{
	height:1em;
	width:6em;
	background-color:#b0c4de;
}

/* nn = nickname */
.inf-nn{
	height:1em;
	width:20em;
	background-color:#b0c4de;
}

.inf-title{
	height:2em;
	width:20em;
}

.inf-tag{
	height:2em;
}

.fav-num{
	height:1em;
		background-color:#b0c4de;
}

/*お気に入り数表示欄の★を黄色にするためだけのやつ*/
.fav{
	color:yellow;
}



/*ノートアップロード画面のCSS*/

.guide{
	height:2em;
	width:30em;
}

.file-guide{
	font-size:13px;
}




